.dz-fullscreen #icon-minimize {
  display: none;
}
.dz-fullscreen.active #icon-full {
  display: none;
}
.dz-fullscreen.active #icon-minimize {
  display: inline-block;
}
.fullscreen {
  width: 50px;
  height: 50px;
  /* padding: 10px; */
  /* transform: scale(0.6); */
  /* box-shadow: #2c0101 0 0 20px; */
}
.fullscreen .fs-icon {
  transition: 0.5s ease-out;
  filter: drop-shadow(var(--tkd2) 0 0 0.5rem);
  background: var(--tkd1);
  /* border-radius: 5px; */
}
/* .bodydark .fullscreen .fs-icon {
  filter: drop-shadow(var(--tkd1) 0 0 0.5rem);
  background: var(--tkd2);
}
.bodydark .fullscreen .fs-icon .arrow {
  stroke: var(--tkd1);
}
.bodydark .fullscreen .fs-icon .outline {
  fill: var(--tkd1);
} */
.fullscreen .fs-icon .outline {
  fill: var(--tkd2);
}
.fullscreen .fs-icon .arrow {
  transition: fill 1s ease;
  fill: transparent;
  stroke: var(--tkd2);
  stroke-width: 2;
  stroke-linejoin: round;
}
.fullscreen .fs-icon .tl {
  transform: rotate(0deg);
  transition: 0.5s ease-out;
  animation: tl 1s ease-in-out;
}
.fullscreen .fs-icon .tr {
  transform: rotate(0deg);
  transition: 0.5s ease-out;
  animation: tr 1s ease-in-out;
}
.fullscreen .fs-icon .bl {
  transform: rotate(0deg);
  transition: 0.5s ease-out;
  animation: bl 1s ease-in-out;
}
.fullscreen .fs-icon .br {
  transform: rotate(0deg);
  transition: 0.5s ease-out;
  animation: br 1s ease-in-out;
}
.fullscreen:hover .fs-icon {
  transform: scale(1.1);
  transition: 0.5s ease-out;
}
.fullscreen:hover .fs-icon .arrow {
  fill: var(--tkd1);
  transition: fill 1s ease;
  transition: transform 0.5s ease-out;
}
.fullscreen:hover .fs-icon .tl {
  transform: translate(-4px, -4px);
}
.fullscreen:hover .fs-icon .tr {
  transform: translate(4px, -4px);
}
.fullscreen:hover .fs-icon .bl {
  transform: translate(-4px, 4px);
}
.fullscreen:hover .fs-icon .br {
  transform: translate(4px, 4px);
}
.fullscreen:active .fs-icon {
  transform: scale(1.1);
  transition: 0.5s ease-out;
}
.fullscreen:active .fs-icon .arrow {
  fill: var(--tkd2);
  transition: fill 1s ease;
  opacity: 0;
}
.fullscreen:active .fs-icon .tl {
  transform: translate(-60px, -60px);
  transition: 0.2s ease-out;
}
.fullscreen:active .fs-icon .tr {
  transform: translate(60px, -60px);
  transition: 0.2s ease-out;
}
.fullscreen:active .fs-icon .bl {
  transform: translate(-60px, 60px);
  transition: 0.2s ease-out;
}
.fullscreen:active .fs-icon .br {
  transform: translate(60px, 60px);
  transition: 0.2s ease-out;
}
.fullscreen.full .fs-icon .tl {
  transform: translate(40px, 40px);
  transition: 0.5s ease-out;
}
.fullscreen.full .fs-icon .br {
  transform: translate(-40px, -40px);
  transition: 0.5s ease-out;
}
.fullscreen.full .fs-icon .tr {
  transform: translate(-40px, 40px);
  transition: 0.5s ease-out;
}
.fullscreen.full .fs-icon .bl {
  transform: translate(40px, -40px);
  transition: 0.5s ease-out;
}
.fullscreen.full:hover .fs-icon {
  transform: scale(0.9);
}
.fullscreen.full:hover .fs-icon .tl {
  transform: translate(35px, 35px);
}
.fullscreen.full:hover .fs-icon .tr {
  transform: translate(-35px, 35px);
}
.fullscreen.full:hover .fs-icon .bl {
  transform: translate(35px, -35px);
}
.fullscreen.full:hover .fs-icon .br {
  transform: translate(-35px, -35px);
}
@media only screen and (max-width: 1199px) {
  .fullscreen {
    /* width: 70px; */
    /* height: 70px; */
  }
}
@keyframes tl {
  0% {
    transform: translate(8px, 8px);
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
@keyframes tr {
  0% {
    transform: translate(-8px, 8px);
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
@keyframes bl {
  0% {
    transform: translate(8px, -8px);
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
@keyframes br {
  0% {
    transform: translate(-8px, -8px);
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
