.sun {
  float: left;
  margin: 30px;
  background: radial-gradient(
    circle at 50% 120%,
    #ba8f27,
    yellow 10%,
    red 80%,
    orange 100%
  );
  background-color: #fc0;
  box-shadow: 0 0 64px #fc0, 0 0 0 #fc0, -1px 0 20px 4px #0a0e27;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: fixed;
  transform-origin: bottom center;
  z-index: -9;
}
.sun-face {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 80px;
  text-align: center;
  font-size: 1.5em;
  text-align: center;
  color: #4e0404;
}
.sun::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 18px;
  width: 10px;
  height: 10px;
  opacity: 0.8;
  background: #fcf0a3;
  border-radius: 44% 40% 60% 24% / 43% 35% 51% 36%;
}
.sun-anime {
  width: 100%;
  height: 100%;
  animation: sunrolling 30s infinite;
}
.sun-ball {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #ffcf11;
  background-image: radial-gradient(circle, #ffdf05, #ffdf05);
  box-shadow: 0 0 100px #ffdf05;
}
.sun-light {
  position: absolute;
  top: -30%;
  left: 50%;
  width: 2px;
  height: 160%;
}
.sun-light b,
.sun-light s {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 12%;
  background: #fed65b;
  border-radius: 50%;
}
.sun-light s {
  top: auto;
  bottom: 0;
}
.sun-light:nth-child(10n + 2) {
  transform: rotate(18deg);
}
.sun-light:nth-child(10n + 3) {
  transform: rotate(36deg);
}
.sun-light:nth-child(10n + 4) {
  transform: rotate(54deg);
}
.sun-light:nth-child(10n + 5) {
  transform: rotate(72deg);
}
.sun-light:nth-child(10n + 6) {
  transform: rotate(90deg);
}
.sun-light:nth-child(10n + 7) {
  transform: rotate(108deg);
}
.sun-light:nth-child(10n + 8) {
  transform: rotate(126deg);
}
.sun-light:nth-child(10n + 9) {
  transform: rotate(144deg);
}
.sun-light:nth-child(10n + 10) {
  transform: rotate(162deg);
}
.moon {
  position: fixed;
  overflow: hidden;
  z-index: 10;
  border-radius: 50%;
  width: 25vmin;
  height: 25vmin;
  transform-origin: bottom center;
  z-index: -9;
}
.moon .shadow {
  position: absolute;
  overflow: hidden;
  margin: 0 auto;
  z-index: 12;
  width: 25vmin;
  height: 25vmin;
  top: calc(50% - 12.5vmin);
  right: calc((50% - 12.5vmin) - -91.1315%);
}
.moon .light {
  overflow: hidden;
  margin: 0 auto;
  z-index: 11;
  width: 25vmin;
  height: 25vmin;
  top: calc(50% - 12.5vmin);
  left: calc((50% - 12.5vmin) - -8.86846%);
  box-shadow: rgb(75 50 100 / 50%) 0 0 6.25vmin 0.25vmin inset;
  animation-direction: normal;
  background: #8b8e92;
  display: inline-block;
  position: relative;
  transform-style: preserve-3d;
  background: url(moonsurface.jpg) repeat-x;
  background-size: auto 100%;
  animation: move-map 30s infinite linear;
}
.moon .light:before {
  top: 0;
  height: 100%;
  box-shadow: -40px 10px 70px 10px rgb(0 0 0 / 50%) inset;
  content: "";
  position: absolute;
  background: radial-gradient(
    circle at 50% 120%,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0) 70%
  );
  border-radius: 50%;
  bottom: 2.5%;
  left: 5%;
  opacity: 0.6;
  width: 90%;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  z-index: 2;
}
.moon .light:after {
  content: "";
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(
    circle at 50% 30%,
    rgb(9 9 7 / 0),
    rgb(0 0 0 / 20%) 50%,
    #000 100%
  );
}
.moon,
.bodydark .sun {
  display: none;
}
.bodydark .moon {
  display: block;
}
@keyframes move-map {
  0% {
    background-position: -849px 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes sunrolling {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
.tkddarklight {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}
.tkddarklight .toggle-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.tkddarklight .toggle-slot {
  position: relative;
  height: 3em;
  width: 3em;
  border: 2px solid #b89000;
  border-radius: 0% 50% 50% 50%;
  background-color: #f5eb42;
  transition: background-color 250ms;
  box-shadow: 0 0 11px 0 #2c0101, inset 0 0 12px 0 #2c0101;
}
.tkddarklight .toggle-checkbox:checked ~ .toggle-slot {
  background-color: #374151;
  border-color: white;
}
.tkddarklight .fa-sun-bright {
  font-size: 30px;
  color: #b89000;
  text-shadow: 0 0 4px #ffe999, 0 0 12px #ffe999, 0 0 7px #2c0101;
}
.tkddarklight .sun-icon-wrapper,
.moon-icon-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  opacity: 1;
  transform: rotate(360deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71);
  align-items: center;
  justify-content: center;
}
.tkddarklight .toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
  opacity: 0;
  transform: rotate(0deg);
}
.tkddarklight .fa-moon-cloud {
  color: white;
  font-size: 30px;
  text-shadow: 0 0 4px #ecf0f1, 0 0 12px #ecf0f1, 0 0 7px #2c0101;
}
.tkddarklight .moon-icon-wrapper {
  opacity: 0;
  transform: rotate(0deg);
}
.tkddarklight .toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
  opacity: 1;
  transform: rotate(360deg);
}
