section {
  padding: 10px;
}
.contact-info {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.contact-info-icon {
  margin-bottom: 20px;
}
.contact-info-item {
  padding: 30px 0;
  padding: 10px 0;
  backdrop-filter: blur(5px);
  background: hsla(0, 0%, 100%, 0.1);
  border: 1px solid hsla(0, 0%, 100%, 0.5);
  border-bottom: none;
  border-radius: 10px;
  border-right: none;
  box-shadow: 0 20px 50px rgb(0 0 0 / 15%);
  color: var(--text-color);
}
.contact-page-sec .contact-page-form h2 {
  color: var(--text-color);
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 700;
}
.contact-page-form.contact-form input {
  margin-bottom: 5px;
}
.contact-page-form.contact-form textarea {
  height: 110px;
}
.contact-page-form input::placeholder,
.single-input-field textarea::placeholder {
  color: var(--tkd2);
}
.contact-page-form.contact-form input[type="submit"],
.contact-page-form.contact-form input[type="reset"] {
  background: #071c34;
  width: 150px;
  border-color: #071c34;
}
.contact-info-icon i {
  font-size: 48px;
}
.contact-info-text p {
  margin-bottom: 0;
}
.contact-info-text h2 {
  font-size: 22px;
  text-transform: capitalize;
  font-weight: 600;
}
.contact-info-text span {
  font-size: 12px;
}
.contact-page-form input[type="text"],
.contact-page-form input[type="email"],
.custom-file-button input[type="file"] {
  padding: 12px 16px;
  width: 100%;
  font-size: 16px;
  backdrop-filter: blur(5px);
  background: hsla(0, 0%, 100%, 0.1);
  border: 1px solid hsla(0, 0%, 100%, 0.5);
  border-bottom: none;
  border-radius: 10px;
  border-right: none;
  box-shadow: 0 20px 50px rgb(0 0 0 / 15%);
  color: var(--text-color);
}
.single-input-field textarea {
  width: 100%;
  height: 140px;
  padding: 12px 16px;
  resize: none;
  font-size: 16px;
  backdrop-filter: blur(5px);
  background: hsla(0, 0%, 100%, 0.1);
  border: 1px solid hsla(0, 0%, 100%, 0.5);
  border-bottom: none;
  border-radius: 10px;
  border-right: none;
  box-shadow: 0 20px 50px rgb(0 0 0 / 15%);
  color: var(--text-color);
  padding-bottom: 27px;
}
.single-input-field textarea::-webkit-scrollbar {
  width: 11px;
}
.single-input-field textarea::-webkit-scrollbar-track {
  background: 0 0;
  width: 0;
}
.single-input-field textarea::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
}
.single-input-field textarea::-webkit-scrollbar-thumb:hover {
  background-color: #ddd;
}
.single-input-field textarea::-webkit-scrollbar {
  width: 8px;
}
.single-input-field textarea::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}
.single-input-fieldsbtn input[type="submit"],
.single-input-fieldsbtn input[type="reset"] {
  padding: 10px 0;
  width: 150px;
  margin-top: 20px;
  font-size: 16px;
  backdrop-filter: blur(5px);
  background: hsla(0, 0%, 100%, 0.1);
  border: 1px solid hsla(0, 0%, 100%, 0.5);
  border-bottom: none;
  border-radius: 10px;
  border-right: none;
  box-shadow: 0 20px 50px rgb(0 0 0 / 15%);
  color: var(--text-color);
  transform: scale(1);
}
.single-input-fieldsbtn input[type="submit"]:hover,
.single-input-fieldsbtn input[type="reset"]:hover,
.single-input-fieldsbtn input[type="submit"]:focus,
.single-input-fieldsbtn input[type="reset"]:focus {
  transform: scale(1.1);
}
.single-input-fieldsbtn input[type="submit"]:active,
.single-input-fieldsbtn input[type="reset"]:active {
  transform: scale(0.9);
}
.single-input-field h4 {
  color: #464646;
  text-transform: capitalize;
  font-size: 14px;
}
.contact-page-map {
  margin: 36px 0;
}
.contact-page-form form {
  padding: 20px 15px;
}
.contact-page-map iframe {
  width: 100%;
  padding: 4px;
  backdrop-filter: blur(5px);
  background: hsla(0, 0%, 100%, 0.1);
  border: 1px solid hsla(0, 0%, 100%, 0.5);
  border-bottom: none;
  border-radius: 10px;
  border-right: none;
  box-shadow: 0 20px 50px rgb(0 0 0 / 15%);
}
.contact-page-form select {
  outline: 0 !important;
  padding: 12px 16px;
  backdrop-filter: blur(5px);
  background: hsla(0, 0%, 100%, 0.1);
  border: 1px solid hsla(0, 0%, 100%, 0.5);
  border-bottom: none;
  border-radius: 10px;
  border-right: none;
  box-shadow: 0 20px 50px rgb(0 0 0 / 15%);
  background: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%204%205'%3E%3Cpath%20fill='%23667189'%20d='M2%200L0%202h4zm0%205L0%203h4z'/%3E%3C/svg%3E")
    right 0.85rem center/.5rem 0.6rem no-repeat no-repeat;
  -webkit-appearance: none;
  width: 100%;
}
.contact-page-form input[type="checkbox"] {
  display: none;
}
.contact-page-form input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px "Open Sans", Arial, sans-serif;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.contact-page-form input[type="checkbox"] + label:last-child {
  margin-bottom: 0;
}
.contact-page-form input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 3px solid var(--tkd2);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  -webkit-transition: all 0.12s, border-color 0.08s;
  transition: all 0.12s, border-color 0.08s;
}
input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.single-input-field {
  display: flex;
  margin: 8px 0;
  font: 18px/1.5 "Open Sans", sans-serif;
  align-items: flex-start;
}
.single-input-field a {
  color: var(--tkd2);
  font-weight: unset;
  text-decoration: underline;
}
.textarealimit {
  position: absolute;
  bottom: 7px;
  right: 0;
  left: 0;
  width: fit-content;
  margin: auto;
}
.textarealimit p {
  width: auto;
  height: 30px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  color: var(--text-color);
  font-size: 18px;
  line-height: 1.5;
  z-index: 200;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 50px rgb(0 0 0 / 15%);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 0 40px;
}
.custom-file-button input[type="file"] {
  margin-left: -2px !important;
  width: initial;
}
.custom-file-button input[type="file"]::-webkit-file-upload-button {
  display: none;
}
.custom-file-button input[type="file"]::file-selector-button {
  display: none;
}
.custom-file-button:hover label {
  background-color: #dde0e3;
  cursor: pointer;
}
